.pagination-container {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 192px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    z-index: 1001;
}

.pagination-button {
    height: 32px;
    width: 32px;
    border-radius: 4px;
    border: 1px solid #DFE3E8;
    background-color: #FFFFFF;
    line-height: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

.pagination-button.active {
    border: 1px solid #2196F3;
    color: #2196F3;
}