.cats-page-container { 
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    flex: 1;
}

.cats-page-gallery-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 52px 62px;
    box-sizing: border-box;
}

.cats-page-gallery {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 225px);
    gap: 48px;
    justify-content: center;
    align-content: start;
}

.cats-page-gallery-item {
    width: 225px;
    height: 225px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.cats-page-gallery-item:hover {
    transform: scale(1.142);
    z-index: 10;
    box-shadow: 
        0px 5px 5px 0px rgba(0, 0, 0, 0.25),
        -2px 0px 2px 0px rgba(0, 0, 0, 0.1),
        2px 0px 2px 0px rgba(0, 0, 0, 0.1);
}

.cats-page-gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cats-page-gallery-item-favorite {
    border: 2px solid red;
}